@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container-messages, .container-body{
    width: 100%;
    height: 100%;
    background-color: rgb(243, 243, 243);
}
.container-messages{
    margin-top: 30%;
    padding-bottom: 17%;
}
.row-message{
    width: 100%;
}
.status, .message-to-all, .privative-message{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
    margin-top: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.status{
    background-color: rgb(220, 220, 220);
}
.message-to-all{
    background-color: rgba(255, 255, 255, 1);
}
.privative-message{
    background-color: rgba(254, 223, 221, 1);
}
.hour{
    color: rgba(0, 0, 0, 0.5);
    padding: 2%;
}
.username, .messate-to > span{
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}
